/*Admin photos*/

.imageWrapper:hover {
    opacity: 0.4;
}

.admin-photo-container {
    height: 50px;
    width: 50px;
}


/*flags*/

.flag.active {
    border-bottom: 5px solid #2BAAE1 !important;
}

.languages {
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 100px;
    padding-right: 100px
}

.logo {
    padding-right: 50px
}

.navbar-header>ul>li>a:hover {
    border-bottom: 5px solid #2BAAE1 !important
}

.languages>a>img:hover {
    border-bottom: 5px solid #2BAAE1 !important
}

.no-padding {
    padding: 0 !important
}

@media only screen and (max-width :1200px) {
    .navbar-right {
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 25px
    }
}

@media only screen and (max-width :1144px) {
    .navbar-right {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 20px
    }
    .logo {
        padding-right: 15px
    }
    #social_icons {
        display: none
    }
}

@media only screen and (max-width :990px) {
    .languages {
        display: none
    }
}


/*@media only screen and (max-width :832px){.languages{display: none}}*/

@media only screen and (max-width :768px) {
    #social_icons {
        display: block
    }
    #iniciobt, #home {
        display: none
    }
}

@media only screen and (max-width :480px) {
    #iniciobt, #home, #rotasbt, #routes, #map-canvas {
        display: none
    }
}

@media only screen and (max-width :320px) {
    #iniciobt, #home, #rotasbt, #routes, #map-canvas {
        display: none
    }
}
