<table class="table table-hover col-lg-12 tablesorter" style="margin-top:50px">
    <thead style="border: 1px solid silver; background-color: lightgrey">
        <tr style="text-align: center;">
            <th style="text-align: center;" class="col-lg-2">Nome</th>
            <th style="text-align: center;" class="col-lg-1">Contacto</th>
            <th style="text-align: center;" class="col-lg-2">Email</th>
            <th style="text-align: center;" class="col-lg-1">Data</th>
            <th style="text-align: center;" class="col-lg-1">Inicio</th>
            <th style="text-align: center;" class="col-lg-1">Fim</th>
            <th style="text-align: center;" class="col-lg-2">Número passageiros</th>
        </tr>
    </thead>
    <tbody style="font-size:13px">
            <tr class="warning" style="text-align: center;">
                <td class="col-lg-2"><?php echo $book['first_name']." ".$book['last_name'] ?> </td>
                <td class="col-lg-1"><?php echo $book['contact'] ?> </td>
                <td class="col-lg-2"><?php echo $book['email'] ?> </td>
                <td class="col-lg-1"><?php echo $book['date'] ?> </td>
                <td class="col-lg-1"><?php echo $book['begin'] ?> </td>
                <td class="col-lg-1"><?php echo $book['end'] ?> </td>
                <td class="col-lg-1"><?php echo $book['num_pass'] ?> </td>
        </tr>
    </tbody>
</table>